@import url("https://use.typekit.net/fdj1lfv.css");

.videoContainer {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  overflow-y: 'scroll';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background: linear-gradient(-45deg, #000000, #1395b2, #1d325a, #dda9cc);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  .videoContainer video {
    opacity: 20%;
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
  
    position: absolute;
    object-fit: cover;
  }

  .title {
    margin-top: 100px;
    position: relative;
    font-weight: 700;
    
    font-style: normal;
    text-align: center;
    letter-spacing: 2rem;
    font-size: var(--title);
    color: white;
    text-shadow: 0px 2px 20px #95bcf3;
    width: 100vw;
  }

.header {
    margin-top: -60px;
    position: relative;
    font-weight: 200;
    font-size: 80px;
    color: white;
    width: 100vw;
    text-align: center;
    
    letter-spacing: 1rem;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 30px;
    text-align: center;
  }
  .header {
    
    margin-top: -25px;
  }

}

.MenuItems {
  width: 100vw;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MenuItem {
  text-align: center;
  position: relative;
  padding: 10px;
  font-weight: var(--thin);
  font-style: normal;

  letter-spacing: .5rem;
  z-index: 1000;
  color: white;
  font-size: 18px;
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Link:hover {
  animation: hoverLink .7s ease-in-out forwards;
}

.Link {
  animation: unhoverLink .7s ease-in-out forwards;
}


@keyframes unhoverLink {
  0% {
    color: #a5a5a5;
    text-shadow: 0px 2px 20px #95bcf3;
    font-size: 120%;
  }
  100% {
  color: white;
  }
}

@keyframes hoverLink {
  0% {
    color: white;
  }
  100% {
  color: #a5a5a5;
  text-shadow: 0px 2px 20px #95bcf3;
  font-size: 120%;
  }
}